/*
Original design: 1024px (v3.0 - Jun 01, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/1024px/
*/
/* Ricami.piemonte.it */

/* General tags */

body {background:#ffffff; color:#000000; font:76% Verdana,Tahoma,Arial,sans-serif; margin:0 auto; padding:0; overflow-y: scroll;}

a {FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none;}
a:hover {text-decoration:underline;}
A.menulat  { FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000; TEXT-DECORATION: none;}
A.menulat:HOVER { FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000; TEXT-DECORATION: underline;}


/* Additional classes */
.box {background:#4088b8; border:1px solid #c8c8c8; color:#fff; font-size:0.9em; padding:10px 10px 10px 13px;}
.box a {color:#f0f0f0;}
.left {float:left; margin:0 15px 4px 0;}
.right {float:right; margin:0 0 4px 15px;}
.readmore {margin:-10px 10px 12px 0; text-align:right;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 10px;}
.timestamp a {font-weight:normal;}
.blue {color:#4088b8;}
.clear {clear:both;}
.fade {color:#c8c8c8;}
.gray {color:gray;}
.photo {background:#fff; border:1px solid #bababa; margin:6px 18px 2px 5px; padding:2px;}

table.tabella1 {
	/*colore testo titolo menu*/
	FONT-SIZE: 13px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff;
	border-collapse: collapse; 
	border: #666666 1px solid;
	margin-bottom: 5px;
	empty-cells:show;
}

td.titolomenu {
	background-image: url(/skins/menu.gif);
	background-repeat: repeat;
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	HEIGHT: 22px;
	BORDER-BOTTOM: #666666 1pt solid;
}

td.menu {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	HEIGHT: 22px;
	BORDER-BOTTOM: none;
	BORDER-top: none;
}
.titoloriquadro
{
	background-image: url(/skins/riquadro.gif);
	background-repeat: repeat;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	HEIGHT: 18px;
	BORDER-BOTTOM: #666666 1pt solid;
	padding-left: 3px;
}
.div_titolo{
	background-image: url(/skins/riquadro.gif);
	background-repeat: repeat;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	min-HEIGHT: 20px;
	border: 1px solid #000;
	border-collapse:collapse;
	BORDER-BOTTOM: #666666 1pt solid;
	padding: 2px 3px 2px 3px;
}
.div_testo{
	border: 1px solid #000;
	border-top:none;
	border-collapse:collapse;
	FONT-SIZE: 13px;
	padding: 2px 2px 2px 2px;
/*	margin-bottom: 5px;
*/	}
	.div_spaziatore{	HEIGHT: 5px;
}
.testotabella
{
	FONT-SIZE: 13px;
	padding: 2px 2px 2px 2px;
}
.titolobox
{
	background-image: url(/skins/riquadro.gif);
	background-repeat: repeat;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	HEIGHT: 16px;
	BORDER-BOTTOM: #666666 1pt solid;
	padding-left: 2px;
}
.corpobox
{
	FONT-SIZE: 9px;
	padding: 2px 2px 2px 2px;
}

/*Elenco articoli
*/

#container {
	/*background: #e3e3e3;*/
	max-width:850px;
	width:100%;
	margin:0 auto;
	padding: 0px;
}
#griglia {  padding: 0;  margin: 0;}
#griglia a {
	text-decoration:none;
	}
#griglia > li {
/*	border: 1px solid #333333;
*/	display: inline-block;
	width:  245px;
	margin: 2px;
	background-color: #fff;
	vertical-align: top;
	/*aggiunta per testo sopra*/
    position: relative;
    overflow: hidden;
	text-align:center;
	margin-bottom:15px;
-webkit-box-shadow: 8px 8px 16px 0px rgba(61, 52, 50, 0.60);
-moz-box-shadow:    8px 8px 16px 0px rgba(61, 52, 50, 0.60);
box-shadow:         8px 8px 16px 0px rgba(61, 52, 50, 0.60);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}
.articolo {
/*	border: 1px solid #333333;
*/    margin: 0;
	padding-left:3px;
	padding-top:5px;
	padding-bottom: 5px;
	font-size: 12px;
	color: #000;
	width: 240px;
/*	background: #222;
*/	/* browser che non supportano rgba */
/*    background: rgb(200,200,200);
*/	text-align:left;

	z-index:2;
}