		 th {
			position: relative;
			border: 1px solid black;
		}
		th span {
		  transform-origin: 0 50%;
		  transform: rotate(-90deg); 
		  white-space: nowrap; 
		  display: block;
		  position: absolute;
		  bottom: 0;
		  left: 50%;
		}
		tr {
			border-bottom:1px solid;
		}
		#spettanze td{
			border: 1px solid black;
		}
		.spett{
			text-align: center;
			width: 25px;
			font-size: small;
		}
		.dipendenti, .dipendentiw {
		width: 25px;
		font-size: smaller;

		}
		
		.colora_cella{
			background: #dfff26 !important;
		}
		.articoli {
			font-size: x-small;
			min-width: 200px;
		}
		.minimizza{
			padding: 0px !important; 


		}
		.zindex500{
		z-index: 500;	
		}
		.totali{
			background: #ffffff;
		}
		.quantita{
			text-align: center;
		}
		.totalidipendenti{
			background: #ffffff;
			font-size: small;
		}
		